In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/raw/WEIGHT_DATA.csv')
df2 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/raw/wire rod chemical.csv')
df3 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/raw/wire rod properties.csv')
df4 = pd.read_csv('/home/nitin/Downloads/SIH-1723/data/raw/WRM_2_DATA.csv')

In [3]:
df1

,id,productName,castNo,coilNo,diameter,grade,rawWeight,netWeight,grossWeight,rawDate,netDate,grossDate,rawNode,netNode,grossNode,rawUser,netUser,grossUser,UTS,elongation
0,165655,WIRE ROD,858112,7,9.5,WE10,2072,2069.0,2097.0,27:29.0,17:18.0,05:23.0,WRM2-BARCODE,WRM2-BARCODE,WRM_PACKAGING,lala,lala,operation,9.7,15.4
1,165656,WIRE ROD,858112,8,9.5,WE10,2072,2070.0,2096.0,29:27.0,20:16.0,53:40.0,WRM2-BARCODE,WRM2-BARCODE,WRM_PACKAGING,lala,lala,operation,9.5,16.4
2,165657,WIRE ROD,858112,9,9.5,WE10,2070,2070.0,2092.0,05:47.0,30:31.0,08:21.0,WRM2-BARCODE,WRM_PACKAGING,WRM_PACKAGING,lala,operation,operation,9.7,13.9
3,165658,WIRE ROD,858112,10,9.5,WE10,2072,2069.0,2096.0,07:45.0,11:46.0,56:55.0,WRM2-BARCODE,WRM2-BARCODE,WRM_PACKAGING,lala,lala,operation,10.0,14.6
4,165659,WIRE ROD,858112,11,9.5,WE10,2069,2067.0,2093.0,42:33.0,54:49.0,34:59.0,WRM2-BARCODE,WRM2-BARCODE,WRM_PACKAGING,lala,lala,operation,9.8,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9980,175630,WIRE ROD,658683,16,9.5,NaN,2077,NaN,NaN,11:08.0,NaN,NaN,WRM1-BARCODE,NaN,NaN,operation,NaN,NaN,NaN,NaN
9981,175631,WIRE ROD,858762,6,9.5,NaN,2096,NaN,NaN,43:09.0,NaN,NaN,WRM2-BARCODE,NaN,NaN,lala,NaN,NaN,NaN,NaN
9982,175632,WIRE ROD,858762,7,9.5,NaN,2126,NaN,NaN,45:10.0,NaN,NaN,WRM2-BARCODE,NaN,NaN,lala,NaN,NaN,NaN,NaN
9983,175633,WIRE ROD,658683,17,9.5,NaN,2075,NaN,NaN,49:10.0,NaN,NaN,WRM1-BARCODE,NaN,NaN,operation,NaN,NaN,NaN,NaN
9984,175634,WIRE ROD,658683,18,9.5,NaN,2043,NaN,NaN,51:14.0,NaN,NaN,WRM1-BARCODE,NaN,NaN,operation,NaN,NaN,NaN,NaN

In [4]:
df2

,Unnamed: 0,Sl No,Cast Number,Posting Date,Stack No,Grade,Wt(MT),Pcs,%SI,%FE,%TI,%V,%CU,%MN,OTHIMP,%AL
0,NaN,1,558097,01.09.2024,NaN,W000,41.056,NaN,0.06,0.24,0.001,0.003,0.001,0.004,0.02,99.671
1,NaN,2,558101,01.09.2024,NaN,W000,36.447,NaN,0.06,0.22,0.002,0.003,0.001,0.004,0.02,99.690
2,NaN,3,558105,02.09.2024,NaN,W000,34.567,NaN,0.06,0.20,0.001,0.003,0.001,0.004,0.02,99.711
3,NaN,4,558109,02.09.2024,NaN,W000,36.465,NaN,0.06,0.17,0.001,0.003,0.001,0.004,0.02,99.741
4,NaN,5,558113,03.09.2024,NaN,W000,26.373,NaN,0.06,0.20,0.001,0.002,0.001,0.004,0.02,99.712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,NaN,610,858738,22.11.2024,NaN,W000,22.160,NaN,0.11,0.17,0.001,0.002,0.001,0.004,0.02,99.692
610,NaN,611,858742,23.11.2024,NaN,W000,45.389,NaN,0.11,0.16,0.001,0.002,0.001,0.004,0.02,99.702
611,NaN,612,858746,23.11.2024,NaN,W000,11.913,NaN,0.12,0.19,0.002,0.008,0.001,0.004,0.02,99.655
612,NaN,613,858750,24.11.2024,NaN,W000,39.950,NaN,0.12,0.15,0.002,0.007,0.001,0.004,0.02,99.696
613,NaN,614,858754,24.11.2024,NaN,W000,31.399,NaN,0.11,0.15,0.002,0.006,0.001,0.004,0.02,99.707

In [5]:
df3

,Unnamed: 0,Date,Unnamed: 2,Batch No,Diameter,Material,Coil,UTS,Elongation,Conductivity,Grade,Material.1,Total order quantity,Unnamed: 13
0,NaN,01.09.2024,NaN,558097,10,W000000,1,10.3,15.1,61.4,WE20,WE200095,"2,074.00",NaN
1,NaN,01.09.2024,NaN,558097,10,W000000,10,10.2,17.3,61.4,WE20,WE200095,"2,032.00",NaN
2,NaN,01.09.2024,NaN,558097,10,W000000,11,9.9,19.4,61.4,WE20,WE200095,"2,066.00",NaN
3,NaN,01.09.2024,NaN,558097,10,W000000,12,9.9,15.1,61.4,WE20,WE200095,"2,028.00",NaN
4,NaN,01.09.2024,NaN,558097,10,W000000,13,9.7,23.4,61.3,WE20,WE200095,"2,063.00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,NaN,24.11.2024,NaN,858754,10,W000000,5,10.4,12.0,60.9,WC10,WC100095,"2,088.00",NaN
9811,NaN,24.11.2024,NaN,858754,10,W000000,6,10.3,12.8,60.9,WC10,WC100095,"2,112.00",NaN
9812,NaN,24.11.2024,NaN,858754,10,W000000,7,10.1,13.6,60.9,WC10,WC100095,"2,092.00",NaN
9813,NaN,24.11.2024,NaN,858754,10,W000000,8,10.9,14.0,60.9,WC10,WC100095,"2,112.00",NaN
9814,NaN,24.11.2024,NaN,858754,10,W000000,9,10.8,10.8,60.9,WC10,WC100095,"2,091.00",NaN

In [8]:
df3['Date'] = pd.to_datetime(df3['Date'], format='%d.%m.%Y')
df3.dtypes

Unnamed: 0                     float64
Date                    datetime64[ns]
Unnamed: 2                     float64
Batch No                         int64
Diameter                         int64
Material                        object
Coil                             int64
UTS                            float64
Elongation                     float64
Conductivity                   float64
Grade                           object
Material.1                      object
Total order quantity            object
Unnamed: 13                    float64
dtype: object

In [10]:
df3.to_csv('/home/nitin/Downloads/SIH-1723/frontend/public/data/wire rod properties.csv',index=False)

In [6]:
df4

,timestamp,timestamp_utc,sequence_number,EMUL_OIL_L_TEMP_PV_VAL0,STAND_OIL_L_TEMP_PV_REAL_VAL0,GEAR_OIL_L_TEMP_PV_REAL_VAL0,EMUL_OIL_L_PR_VAL0,ROD_DIA_MM_VAL0,CAST_NUMBER_MIS_VAL0,STAND_OIL_L_TEMP_SP_VAL0,...,TUNDISH_TEMP_VAL0,BATH_TEMP_F7_VAL0,BATH_TEMP_F8_VAL0,RM_MOTOR_COOL_WATER__VAL0,FLANGE_CLAMP_A_PRESS_VAL0,FLANGE_CLAMP_B_PRESS_VAL0,ROLL_MILL_AMPS_VAL0,RM_COOL_WATER_FLOW_VAL0,CCW_LEVEL_VAL0,EMULSION_LEVEL_ANALO_VAL0
0,01:59.4,31:59.4,150793,60.355865,53.899261,57.168442,1.757401,9.5,858194,55,...,696.173584,728.488159,656.502441,1.186440,2.141235,0.175415,365.173340,209.326477,745,1213.542725
1,10:38.8,40:38.8,150794,60.068710,54.131332,57.217011,1.762503,9.5,858194,55,...,702.992432,728.960571,598.456787,1.162897,2.194550,1.172363,353.972168,209.261352,745,1212.726807
2,20:38.9,50:38.9,150795,60.398239,54.184143,57.459518,1.752281,9.5,858194,55,...,697.112549,723.062134,642.500977,1.157381,2.136780,1.282532,344.284668,209.071777,745,1214.204590
3,29:11.8,59:11.8,150796,60.359528,54.666901,57.624268,1.773180,9.5,858194,55,...,691.594971,717.707397,647.984619,1.153419,1.834656,1.115540,319.536133,208.768860,745,1215.308594
4,39:11.9,09:11.9,150797,60.448059,54.954453,57.699081,1.771347,9.5,858194,55,...,688.294678,716.404419,673.616943,1.166464,2.181946,0.836334,319.309082,208.693359,745,1213.763672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10921,38:48.5,08:48.5,161714,60.386810,47.499329,57.628693,2.245848,9.5,858762,55,...,698.905762,736.253540,741.981201,1.222080,1.971100,0.719147,428.596191,199.498352,745,1150.670166
10922,39:35.7,09:35.7,161715,60.470840,47.501511,57.622467,2.231224,9.5,858762,55,...,698.000732,735.618042,741.871094,1.173975,1.992493,0.847168,398.474121,199.534973,745,1145.714844
10923,49:35.7,19:35.7,161716,60.334030,47.609879,57.634125,2.251154,9.5,858762,55,...,690.604492,737.228882,737.687012,1.195292,1.901337,1.168365,413.232422,199.532898,745,1150.692627
10924,59:35.7,29:35.7,161717,60.316437,47.719421,57.675140,2.271627,9.5,858762,55,...,697.495361,739.982300,754.112549,1.221163,1.884613,1.095123,409.750977,199.453857,745,1144.916992
10925,00:03.0,30:03.0,161718,60.231827,47.713791,57.681961,2.264101,9.5,858762,55,...,697.688232,741.076538,755.363281,1.232164,2.006165,1.079437,407.102051,199.478516,745,1145.099854